<div class="flex flex-col items-center justify-center p-10 pt-18 sm:pt-32 p-2">
    <div class="absolute left-1/2 -z-10  -translate-x-1/2 ">
        <bg-player src="/lotties/notification.json" class="opacity-75" background="transparent" speed="1" loop
            autoplay></bg-player>
    </div>
    <% if (pesan.error) { %> %>
    <div id="alert-border-2" class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <div class="ms-3 text-sm font-medium">
            <a href="#" class="font-semibold underline hover:no-underline"><%= pesan.error %></a>
        </div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-border-2" aria-label="Close">
          <span class="sr-only">Dismiss</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
    </div>
    <% } %>
    <% if (pesan.success) { %> %>
        <div id="alert-border-2" class="flex items-center p-4 mb-4 text-yellow-800 border-t-4 border-yellow-300 bg-yellow-50 dark:text-yellow-400 dark:bg-gray-800 dark:border-yellow-800" role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div class="ms-3 text-sm font-medium">
                <a href="#" class="font-semibold underline hover:no-underline"><%= pesan.success %></a>
            </div>
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-border-2" aria-label="Close">
              <span class="sr-only">Dismiss</span>
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
            </button>
        </div>
        <% } %>
    <h1
        class="stroke-title py-4 text-center inline-flex flex-col gap-1 transition font-display text-4xl font-bold leading-none ">
        <%= app_title %>
    </h1>
    <h1
        class="mt-6 leading-5  text-zky-50 font-display text-2xl text-white md:text-white text-center drop-shadow-md shadow-black font-extrabold">
        <%= app_description %>
    </h1>
    <div class="grid gap-2 mt-8  grid-cols-1">
        <% if(user){ %>
            <div
                class="bg-blue  flex-col glass items-center p-6 md:p-8 cursor-default  transition rounded-lg first:rounded-t-3xl last:rounded-b-3xl md:first:rounded-t-lg md:last:rounded-b-lg md:first:!rounded-l-4xl md:last:!rounded-r-4xl hover:scale-[3.02] hover:bg-blue/10">
                <a href="/dashboard">
                    <div style="width:100px;height:100px;overflow:hidden;margin:0 auto;outline:none">
                        <bg-player src="/lotties/dashboard.json" background="transparent" speed="1"
                            autoplay></bg-player>
                    </div>
                    <h3
                        class="flex items-center gap-1 text-zky-50 font-display text-2xl font-medium leading-none justify-center">
                        <span>
                            DASHBOARD
                        </span>
                    </h3>
                    <p class="mt-2 opacity-60 text-white">
                        Klik disini untuk mengakses dashboard
                    </p>
                </a>
            </div>
            <% } %>
    </div>

</div>